.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.timer {
    display: flex;
}
h4 {
    margin: 0px;
    color: purple; 
}

a {
    text-decoration: none;
    font-weight: 100;
}

a:hover {
    font-weight: bolder;
}

.timer-sec {
    color: purple;
    margin-left: 5px;
}
.start {
    text-align: center;
}

#startButton {
    background-color: purple;
    color: white;
}
#question-title {
    background-color: aqua;
}
.choices {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: flex-start;
}
#startButton:hover {
    opacity: 0.33;
}
.hide {
    display: none;
}
.show {
    display: contents;
}

#submit {
    margin-left: 10px;
    background-color: purple;
    color: white;
}