.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.timer {
    display: flex;
}
h4 {
    margin: 0px;
    color: purple;
}

a {
    text-decoration: none;
}

.timer-sec {
    color: purple;
    margin-left: 5px;
}
.start {
    text-align: center;
}

#startButton {
    background-color: purple;
    color: white;
}
.hide {
    display: none;
}
.show {
    display: contents;
}

#submit {
    margin-left: 10px;
    background-color: purple;
    color: white;
}